* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(229, 229, 229);
}

header {
    height: 100vh;
}

.header {
    background-image: url(img/vista-incrivel-de-uma-falesia-verde-perto-do-mar-no-arquipelago-dos-acores-portugal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.container {
    font-size: 23px;
    border: 1px solid black;
    padding: 4%;
    border-radius: 10px;
    backdrop-filter: blur(0px);
    transition: backdrop-filter 0.5s;
    overflow: hidden;
}

.txt {
    position: relative;
    top: 200px;
    transition: top 1s;
}

.container:hover .txt {
    top: 0;
}

.container:hover {
    backdrop-filter: blur(10px);
}

.txt h1 {
    font-weight: 600;
    font-size: 45px;
}

.txt p {
    font-weight: 500;
    font-size: 25px;
}

.about {
    background-color: rgb(255, 255, 255);
    margin: 80px 130px;
}

.img img{
    max-width: 100%;
}

.txt-about {
    padding: 30px 60px;
    text-align: center;
}

.txt-about h1 {
    padding-bottom: 10px;
}

.txt-about p {
    border-bottom: 1px solid #9c9999;
    padding-bottom: 50px;
    color: #9c9999;
}

.txt2-about {
    padding: 20px 60px;
}

.txt2-about p{
    color: #9c9999;
    text-align: center;
}

.about-now {
    padding-top: 200px;
}

.layout {
    background-image: url(img/um-por-do-sol-sobre-uma-praia-com-um-por-do-sol-dourado-ao-fundo.jpg);
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.layout-main {
    text-align: center;
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    color: aliceblue;
} 

.txt-layout {
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px;
    padding: 40px;
}

.txt-layout h3 {
    font-size: 25px;
    padding-bottom: 20px;
    font-weight: 600;
}

.txt-layout p {
    font-weight: 500;
    padding: 10px;
}

.img-about img{
    width: 100%;
}

.about-new {
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: 80px 130px;
}

.main-about {
    display: flex;
    padding: 30px;
    background-color: rgb(229, 229, 229);
    justify-content: space-between;
}

.texto1 {
    padding-right: 150px;
    text-align: center;
    
}

.texto1 img {
    border-radius: 10px;
}
.texto2 {
    padding-left: 150px;
    text-align: center;
}
.texto2 img {
    border-radius: 10px;
}

.txtt h2{
    font-size: 30px;
    padding-bottom: 15px;
    text-align: center;
}

.txtt p {
    padding-bottom: 30px;
    border-bottom: 2px solid #9c9999;
    text-align: center;
}

.txt-about2 {
    padding: 10px;
    color: #9c9999;
}

.layout-new {
    background-image: url(img/um-por-do-sol-sobre-uma-praia-com-um-por-do-sol-dourado-ao-fundo.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.layout-main-new {
    color: white;
    height: 50vh;
    text-align: center;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.layout-main-new h2 {
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 20px;
}

.layout-main-new p {
    padding: 0 200px;
}

.form {
    display: flex;
    justify-content: center;
    font-size: 20px;
    height: 80vh;
    align-items: center;
}

form {
    padding: 40px;
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 10px;
    text-align: center;
}

legend {
    text-align: center;
    font-size: 30px;

}

.txt-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.txt-form p {
    text-align: start;
}

.txt-form label{
    padding: 5px;
}

.txt-form input {
    padding: 5px 80px;
}

.depart {
    padding-bottom: 10px;
    padding-left: 10px;
}

.depart p {
    text-align: start;
}

.depart select {
    padding: 5px 90px;
}

.textarea {
    padding-left: 10px;
    padding-bottom: 10px;
}

textarea {
    resize: none;
    padding: 50px 85px;
}

.textarea p {
    text-align: start;
}

.btn-form input{
    padding: 10px 60px;
    border-radius: 10px;
    border: none;
    background-color: #9c9999;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: white;

}